.container2{
text-align: center;
    background-image: url(../images/img_endless_constellation.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.animatedText {
    height: auto;
    padding: 40px 0;
  
    color: aliceblue;
}

.animatedText p {
    width: 45vw;
    margin: auto;
    text-align: center;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.mySwiperr {
    width: 40%;
    height: 20%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
}